<aside class="w-full h-screen flex flex-col bg-lightMoovd">
  <!-- logo -->
  <div class="w-full h-1/6 flex justify-center items-center">
    <img src="assets/logo/moovd_logo.svg" alt="Moovd Logo" class="w-[120px]" />
  </div>

  <!-- menu -->
  <div class="w-full h-5/6 p-6">
    <ul class="flex flex-col gap-3 my-4">
      <a [routerLink]="['/gps']" class="cursor-pointer">
        <p
          class="text-sm 2xl:text-lg font-semibold text-darkMoovd hover:text-lightMoovd py-1 px-4 hover:bg-darkMoovd rounded transition duration-200 ease-in-out"
        >
          GPS
        </p>
      </a>
      <a (click)="logOut()" class="cursor-pointer">
        <p
          class="text-sm 2xl:text-lg font-semibold text-darkMoovd hover:text-lightMoovd py-1 px-4 hover:bg-darkMoovd rounded transition duration-200 ease-in-out"
        >
          Logout
        </p>
      </a>
    </ul>
  </div>
</aside>
