<header class="w-full h-full flex items-center justify-center bg-lightMoovd">
  <div
    class="hidden w-full flex-row justify-between items-center py-2 px-4 lg:flex lg:justify-end lg:mr-2"
  >
    <button
      class="text-2xl lg:text-sm text-secondaryMoovd font-bold py-1.5 px-4 bg-white rounded shadow"
      (click)="logOut()"
    >
      Logout
    </button>
  </div>
  <div class="w-full flex lg:hidden justify-between items-center">
    <div class="pl-6 md:pl-10 lg:pl-12">
      <h1 class="text-lg font-bold text-lightApp">
        <img
          src="assets/logo/moovd_logo.svg"
          alt="Moovd Logo"
          class="w-[100px]"
        />
      </h1>
    </div>
    <div class="pr-6 md:pr-10 lg:pr-12 text-2xl lg:text-sm text-lightApp">
      <fa-icon
        *ngIf="isOpen == false"
        [icon]="faBars"
        (click)="menuClick(!isOpen)"
        class="cursor-pointer"
      ></fa-icon>
      <fa-icon
        *ngIf="isOpen == true"
        [icon]="faX"
        (click)="menuClick(!isOpen)"
        class="cursor-pointer"
      ></fa-icon>
    </div>
  </div>
</header>

<div
  class="w-full h-full block lg:hidden"
  [ngClass]="{ block: isOpen == true, hidden: isOpen != true }"
>
  <ul
    class="bg-white border-b border-primaryMoovd flex flex-col justify-start items-center gap-3 py-4 text-sm"
  >
    <li [routerLink]="['/gps']" class="cursor-pointer">GPS</li>
  </ul>
</div>
