<div
  class="w-full flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-gradient-to-br from-lightMoovd to-primaryMoovd"
>
  <div class="w-full flex justify-center items-center">
    <img
      ngSrc="assets/logo/moovd_logo.svg"
      width="150"
      height="100"
      alt="MoovdLogo"
    />
  </div>
  <div
    class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm shadow p-10 rounded-xl backdrop-blur-sm bg-white/50"
  >
    <div class="text-left mb-4">
      <h2 class="text-3xl font-bold text-grayMoovd">Sign In</h2>
    </div>
    <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-darkMoovd"
          >Email</label
        >
        <div class="mt-1">
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            placeholder="email: user@mail.com"
            class="block w-full rounded border-0 py-1.5 px-2 text-darkMoovd ring-1 ring-grayMoovd/30 focus:outline-none placeholder:text-grayMoovd/50 sm:text-sm"
          />
          <small
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="text-xs text-red-500"
          >
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['email']">Email should be valid</div>
          </small>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm font-medium text-darkMoovd"
            >Password</label
          >
        </div>
        <div class="mt-1">
          <input
            type="password"
            id="password"
            name="password"
            formControlName="password"
            placeholder="pass: 123"
            class="block w-full rounded border-0 py-1.5 px-2 text-darkMoovd ring-1 ring-grayMoovd/30 focus:outline-none placeholder:text-grayMoovd/50 sm:text-sm"
          />
          <small
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-xs text-red-500"
          >
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
          </small>
        </div>
      </div>
      <div
        *ngIf="!checkAccount"
        class="text-xs text-red-500 p-1 border border-red-500 rounded"
      >
        Your email or password are incorrect, Please Try again!
      </div>

      <div>
        <app-button text="Sign In"></app-button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-grayMoovd/70">
      Don't have an account?
      <a
        routerLink="/register"
        class="font-base text-secondaryMoovd hover:font-semibold"
        >Register</a
      >
    </p>
  </div>
</div>
