<div
  class="w-full flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-gradient-to-br from-lightMoovd to-primaryMoovd"
>
  <div class="w-full flex justify-center items-center">
    <img
      ngSrc="assets/logo/moovd_logo.svg"
      width="150"
      height="100"
      alt="MoovdLogo"
    />
  </div>
  <div
    class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm shadow p-8 md:p-10 rounded-xl backdrop-blur-sm bg-white/50"
  >
    <div class="text-left mb-4">
      <h2 class="text-2xl md:text3xl font-bold text-grayMoovd">Sign In</h2>
    </div>
    <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="flex flex-col space-y-2">
        <app-input
          label="Email"
          type="email"
          inputId="email"
          [control]="loginForm.controls.email"
          placeholder="email: user@mail.com"
        >
        </app-input>
        <app-input
          label="Password"
          type="password"
          inputId="password"
          [control]="loginForm.controls.password"
          placeholder="pass: 123"
        ></app-input>
      </div>
      <div
        *ngIf="!checkAccount"
        class="text-xs text-red-500 p-1 border border-red-500 rounded text-center"
      >
        Your email or password are incorrect, Please Try again!
      </div>

      <div class="w-full flex justify-center">
        <app-button text="Sign In" type="submit"></app-button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-grayMoovd/70">
      Don't have an account?
      <a
        routerLink="/register"
        class="font-base text-secondaryMoovd hover:font-semibold"
        >Register</a
      >
    </p>
  </div>
</div>
