<div
  class="w-full flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-gradient-to-br from-lightMoovd to-primaryMoovd"
>
  <div class="w-full flex justify-center items-center">
    <img
      ngSrc="assets/logo/moovd_logo.svg"
      width="150"
      height="100"
      alt="MoovdLogo"
    />
  </div>

  <div
    class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm shadow p-10 rounded-xl backdrop-blur-sm bg-white/50"
  >
    <div class="text-left mb-4">
      <h2 class="text-3xl font-bold text-grayMoovd">Register</h2>
    </div>
    <form
      class="space-y-4"
      [formGroup]="registerForm"
      (ngSubmit)="submitDetails()"
    >
      <div>
        <label for="fullName" class="block text-sm font-medium text-darkMoovd"
          >Full Name</label
        >
        <div class="mt-1">
          <input
            type="text"
            id="fullName"
            name="fullName"
            formControlName="fullName"
            placeholder="your full name..."
            class="block w-full rounded border-0 py-1.5 px-2 text-darkMoovd ring-1 ring-grayMoovd/30 focus:outline-none placeholder:text-grayMoovd/50 sm:text-sm"
          />
          <small
            *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
            class="text-xs text-red-500"
          >
            <div *ngIf="fullName.errors?.['required']">Name is required.</div>
            <div *ngIf="fullName.errors?.['pattern']">Enter a valid Name</div>
          </small>
        </div>
      </div>
      <div>
        <label for="email" class="block text-sm font-medium text-darkMoovd"
          >Email</label
        >
        <div class="mt-1">
          <input
            type="email"
            id="email"
            name="email"
            formControlName="email"
            placeholder="your email..."
            class="block w-full rounded border-0 py-1.5 px-2 text-darkMoovd ring-1 ring-grayMoovd/30 focus:outline-none placeholder:text-grayMoovd/50 sm:text-sm"
          />
          <small
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="text-xs text-red-500"
          >
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['email']">Email should be valid</div>
          </small>
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-darkMoovd"
          >Password</label
        >
        <div class="mt-1">
          <input
            type="password"
            id="password"
            name="password"
            formControlName="password"
            placeholder="your password..."
            class="block w-full rounded border-0 py-1.5 px-2 text-darkMoovd ring-1 ring-grayMoovd/30 focus:outline-none placeholder:text-grayMoovd/50 sm:text-sm"
          />
          <small
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-xs text-red-500"
          >
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
          </small>
        </div>
      </div>

      <div>
        <label
          for="confirmPassword"
          class="block text-sm font-medium text-darkMoovd"
          >Confirm Password</label
        >
        <div class="mt-1">
          <input
            type="confirmPassword"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
            placeholder="confirm your password..."
            class="block w-full rounded border-0 py-1.5 px-2 text-darkMoovd ring-1 ring-grayMoovd/30 focus:outline-none placeholder:text-grayMoovd/50 sm:text-sm"
          />

          <small
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            class="text-xs text-red-500"
          >
            <div *ngIf="confirmPassword.errors?.['required']">
              Confirm the password
            </div>
          </small>
          <small
            class="text-xs text-red-500"
            *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
          >
            Password should match
          </small>
        </div>
      </div>

      <div class="w-full bg-slate-400">
        <app-button text="Register" type="submit"></app-button>
      </div>
    </form>
    <p class="mt-10 text-center text-sm text-grayMoovd/70">
      Already have an account?
      <a
        routerLink="/login"
        class="font-base text-secondaryMoovd hover:font-semibold"
        >Login</a
      >
    </p>
  </div>
</div>
