<div
  class="w-full flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 bg-gradient-to-br from-lightMoovd to-primaryMoovd"
>
  <div class="w-full flex justify-center items-center">
    <img
      ngSrc="assets/logo/moovd_logo.svg"
      width="150"
      height="100"
      alt="MoovdLogo"
    />
  </div>

  <div
    class="mt-8 sm:mx-auto sm:w-full sm:max-w-sm shadow p-8 md:p-10 rounded-xl backdrop-blur-sm bg-white/50"
  >
    <div class="text-left mb-4">
      <h2 class="text-2xl md:text-3xl font-bold text-grayMoovd">Register</h2>
    </div>
    <form
      class="space-y-4"
      [formGroup]="registerForm"
      (ngSubmit)="submitDetails()"
    >
      <div class="flex flex-col space-y-2">
        <app-input
          label="Full Name"
          type="text"
          inputId="fullName"
          [control]="registerForm.controls.fullName"
          placeholder="full name..."
        >
        </app-input>
        <app-input
          label="Email"
          type="email"
          inputId="email"
          [control]="registerForm.controls.email"
          placeholder="email..."
        >
        </app-input>
        <app-input
          label="Password"
          type="password"
          inputId="password"
          [control]="registerForm.controls.password"
          placeholder="password..."
        ></app-input>
        <app-input
          label="Confirm Password"
          type="password"
          inputId="confirmPassword"
          [control]="registerForm.controls.confirmPassword"
          placeholder="confirm password..."
        ></app-input>
      </div>

      <div
        *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid"
        class="text-xs text-red-500 p-1 border border-red-500 rounded"
      >
        Password should match !
      </div>

      <div class="w-full flex justify-center">
        <app-button text="Register" type="submit"></app-button>
      </div>
    </form>
    <p class="mt-10 text-center text-sm text-grayMoovd/70">
      Already have an account?
      <a
        routerLink="/login"
        class="font-base text-secondaryMoovd hover:font-semibold"
        >Login</a
      >
    </p>
  </div>
</div>
