<div class="sm:px-6 w-full h-screen bg-white">
  <div class="px-8 py-10 md:py-16">
    <div
      class="w-full flex flex-col md:flex-row items-center justify-between md:px-2 pb-4 lg:pb-7 space-y-4 md:space-y-0"
    >
      <div class="w-full md:w-1/2">
        <h1 class="text-center md:text-left text-3xl font-bold text-darkMoovd">
          GPS List
        </h1>
      </div>
      <div
        class="w-full md:w-1/2 flex flex-row space-x-2 justify-center md:justify-end"
      >
        <div class="flex flex-row justify-center items-center gap-4">
          <input
            type="text"
            class="py-2 px-4 text-md placeholder-darkMoovd/70 border text-darkMoovd border-darkMoovd rounded focus:outline-none"
            placeholder="Search..."
            [(ngModel)]="search"
          />
          <fa-icon
            [icon]="faMagnifyingGlass"
            class="text-2xl text-darkMoovd"
          ></fa-icon>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="w-full whitespace-nowrap text-darkMoovd">
        <tbody>
          <tr
            class="focus:outline-none h-16 border border-graykMoovd font-bold text-xs md:text-base"
          >
            <th>
              <div class="flex items-center pl-5">
                <button (click)="sortDeviceId()">
                  Device ID
                  <sort-icon [timesClicked]="timesClickedDeviceId"> </sort-icon>
                </button>
              </div>
            </th>
            <th>
              <div class="flex items-center">
                <button (click)="sortDeviceType()">
                  Device Type
                  <sort-icon [timesClicked]="timesClickedDeviceType">
                  </sort-icon>
                </button>
              </div>
            </th>
            <th>
              <div class="flex items-center">Action</div>
            </th>
          </tr>
          <tr
            *ngFor="
              let item of filteredGpsLists
                | paginate : { itemsPerPage: 5, currentPage: currentPage }
            "
            tabindex="0"
            class="focus:outline-none h-16 border"
          >
            <td>
              <div class="flex items-center pl-5">
                <p class="text-sm md:text-base font-medium mr-2">
                  {{ item.device_id }}
                </p>
              </div>
            </td>
            <td>
              <div class="flex items-center">
                <p class="text-sm ml-2">
                  {{ item.device_type }}
                </p>
              </div>
            </td>
            <td>
              <a [routerLink]="item.device_id">
                <fa-icon
                  [icon]="faEye"
                  class="text-lg md:text-xl text-primaryMoovd"
                ></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="flex justify-center items-center pt-12">
        <pagination-controls
          (pageChange)="currentPage = $event"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
