<div class="sm:px-6 w-full h-screen bg-lightMoovd">
  <div class="bg-white rounded shadow-xl px-8 py-16">
    <div class="flex flex-row items-center justify-between px-2 pb-7">
      <div>
        <h1
          class="text-base sm:text-lg md:text-xl lg:text-3xl font-bold text-darkMoovd"
        >
          GPS List
        </h1>
      </div>
      <div class="flex flex-row space-x-2">
        <div>
          <input
            type="text"
            class="py-2 px-4 text-sm border rounded"
            placeholder="search..."
            [(ngModel)]="filterText"
          />
        </div>
        <a>
          <div
            class="cursor-pointer py-2 px-4 text-sm font-semibold text-white bg-secondaryMoovd hover:bg-pink-900 rounded"
          >
            S
          </div>
        </a>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="w-full whitespace-nowrap text-darkMoovd">
        <tbody>
          <tr
            class="focus:outline-none h-16 border border-graykMoovd font-bold text-base"
          >
            <th>
              <div class="flex items-center pl-5">
                <button (click)="sortClickDeviceId()">
                  Device ID
                  <fa-icon
                    *ngIf="clickNumberDeviceId == 1"
                    [icon]="faSortDown"
                  ></fa-icon>
                  <fa-icon
                    *ngIf="clickNumberDeviceId == 0"
                    [icon]="faSort"
                  ></fa-icon>
                </button>
              </div>
            </th>
            <th>
              <div class="flex items-center">
                <button (click)="sortClickDeviceType()">
                  Device Type
                  <fa-icon
                    *ngIf="clickNumberDeviceType == 1"
                    [icon]="faSortDown"
                  ></fa-icon>
                  <fa-icon
                    *ngIf="clickNumberDeviceType == 2"
                    [icon]="faSortUp"
                  ></fa-icon>
                  <fa-icon
                    *ngIf="clickNumberDeviceType == 0"
                    [icon]="faSort"
                  ></fa-icon>
                </button>
              </div>
            </th>
            <th>
              <div class="flex items-center">Action</div>
            </th>
          </tr>
          <tr
            *ngFor="let item of filteredGpsLists"
            tabindex="0"
            class="focus:outline-none h-16 border"
          >
            <td>
              <div class="flex items-center pl-5">
                <p class="text-base font-medium mr-2">
                  {{ item.device_id }}
                </p>
              </div>
            </td>
            <td>
              <div class="flex items-center">
                <p class="text-sm ml-2">
                  {{ item.device_type }}
                </p>
              </div>
            </td>
            <td>
              <button
                class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-gray-600 py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none"
                [routerLink]="['/gps', item.device_id]"
              >
                View
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
